body {
    font-family: Roboto;
    color: #252323;
    background-color: #f5f4f2;
}

.top {
    margin-top: 25px;
}

.center {
    display: flex;
    justify-content: center;
}

.question {
    width: 40%;
    border-radius: 10px 0px 0px 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 2px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
}

.answer {
    width: 60%;
    border-radius: 0px 10px 10px 0px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 2px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
}